/* Основний колір тексту #212121 */
/* Вторичний колір тексту #757575 */
/* Білий #FFFFFF */
/* Білий колір тексту в футері rgba(255, 255, 255, 0.6) */
/* Акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --grey-color-btn-bcg: #F5F4FA;
    --black-color: #000;
    --hero-btn-color: #188CE8;
    --primary-icon-color: #AFB1B8;
    --hero-bcg-color: #C4C4C4;
}



body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-list,
.contacts-list,
.features-list,
.work-list,
.team-members-list,
.address-list,
.buttons-list,
.projects-list,
.social-network-list,
.clients-list,
.form-item {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-item {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-part {
    color: var(--accent-color);
}

.nav {
    margin-left: 95px;
}

.nav-list {
    display: flex;
}

.nav-list-item + .nav-list-item {
    margin-left: 50px;
}

.nav-list-item {
    position: relative;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    color: var(--accent-color);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background-color: var(--accent-color);
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list-item + .contacts-list-item {
    margin-left: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope, .icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}

/* footer  */

.footer {
    padding-top: 60px;
    padding-bottom: 57px;

    background-color: var(--secondary-bcg-color);
}

.footer-logo-part {
    color: var(--primary-white-color);
}

.address {
    margin-top: 20px;
}

.address-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-list-item + .address-list-item {
    margin-top: 9px;
}

.address-link {
    color: var(--primary-white-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link {
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus  {
    color: var(--accent-color);
}

.item {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.links {
    margin-left: 70px;
    margin-right: auto;
    
}

.footer .social-network-list {
    width: 206px;
    height: 44px;
    margin-top: 20px;
}

.footer .social-network-link {
    background: rgba(255, 255, 255, 0.1);
}

.footer .social-network-icon {
    fill: var(--primary-white-color);
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.mail-label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: #FFFFFF;
}

.form-field {
    display: inline-flex;
    flex-direction: column;
    margin-right: 12px;
}

.form-field input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: var(--secondary-bcg-color);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.form-field input::placeholder {

}

.submit-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    width: 200px;
    height: 50px;
    padding: 10px 28px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-white-color);
}

.send-icon {
   /* position: absolute;
   top: 13px;
   left: 148px; */
}

/* Студія */
/* main  */
/* hero  */

.hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--hero-bcg-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}

.hero-title {
    max-width: 696px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    min-width: 214px;
    border-radius: 4px;
    border-width: 0;
    border-color: transparent;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-btn-color);
}

/* sections  */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-title,
.work-title,
.team-title,
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* features  */

.features-list {
    display: flex;
}

.features-item + .features-item {
    min-width: 270px;
    margin-left: 30px;
}

.features-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--grey-color-btn-bcg);
}

.features-name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* work */

.work {
    padding-top: 0;
}

.work-title {
    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.work-item + .work-item {
    margin-left: 30px;
}

.work-item {
    position: relative;
}

.work-item-thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.work-name {
    
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

/* team  */

.team {
    background-color: var(--grey-color-btn-bcg);
}

.team-title {
    margin-bottom: 50px;
}

.team-members-list {
    display: flex;
}

.team-card + .team-card {
    margin-left: 30px;
}

.team-card {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-white-color);
}

.team-member-photo {

}

.team-member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-member-position {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.social-network-list {
    display: flex;
    justify-content: center;
}

.social-network {
    width: 44px;
    height: 44px;
}

.social-network-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px;

    color: var(--primary-icon-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.social-network + .social-network {
    margin-left: 10px;
}

.social-network-icon {
    fill: currentColor;
}


/* clients */

.clients-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-link {
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;
    padding: 16px 32px;

    color: var(--primary-icon-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
    margin-left: 30px;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7) ;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-height: 581px;
    min-width: 528px;
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form {
    margin-top: 12px;
}

.form-list {
    margin-bottom: 20px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--primary-text-color);
}


.form-item + .form-item {
    margin-top: 10px;
}

.contact-form-label {
    position: relative;

    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.contact-label-name {
    margin-bottom: 4px;
}

.contact-form-label + .contact-form-label {
    
}

.contact-form-label input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;

    cursor: pointer;
    font-size: 14px;
    line-height: 1.71;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.contact-form-label:focus-within > .contact-form-input {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.contact-form-label:focus-within > .contact-form-icon {
    fill: var(--accent-color);
}

.contact-form-label textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    cursor: pointer;

    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-text-color);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.contact-form-label textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
}

.agreement-label {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    position: absolute;
}

.check-icon {
    fill: var(--primary-white-color);
    border: 2px solid var(--primary-text-color);
    border-radius: 1px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
    fill: var(--accent-color);
    border: transparent;

    transform: scale(1.1);
}

.agreement-text {
    margin-left: 8px;

    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color);
}

.agreement-link {
    font-size: 14px;
    line-height: 1.71;

    color: var(--accent-color);
}

.send-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: var(--hero-btn-color);
    
    transform: scale(1.1);
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    padding: 6px;
    
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}

.button-close-icon {

}

/* portfolio page */

.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons-list-item + .buttons-list-item {
    margin-left: 8px;
}

.buttons-list-item {
    
}

.button {
    min-width: 73px;
    padding: 6px 22px;
    border-radius: 4px;
    border-width: 0;
    border-color: transparent;

    background-color:var(--grey-color-btn-bcg);
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item {
    flex-basis: calc((100% - 60px) / 3);
}

.projects-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.project-link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay {
    transform: translateY(0);
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
    position: absolute;
    top: 63px;
    left: 24px;
    bottom: 63px;
    right: 24px;    

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-text {
    opacity: 1;
}

.project-description {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.project-name {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}